* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content-login {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content-login::before{
    content: "";
    position: absolute;
    background-color: #4d85fe;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0%;
}

.title-login{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primario{
color: #fff ;
}

.title-segundario{
    color: #4d85fe;
}

.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.descricao-primaria{
    color: #fff;
}

.descricao-secundaria{
    color: #7f8c8d;
}

.btn2{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primario{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-primario:hover{
    background-color: #fff;
    color: #4d85fe;
}

.btn-secundario{
    background-color: #4d85fe ;
    border: 1px solid #4d85fe;
    transition: background-color .5s;
}

.btn-secundario:hover{
    background-color: #fff;
    border: 1px solid #4d85fe;
    color: #4d85fe;
}
.primeiro-content{
    display: flex;
}

.primeiro-content .segunda-coluna{
    z-index: 11;
}

.primeira-coluna{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.segunda-coluna{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icone-modify{
    color: #7f8c8d;
    padding: 0 5px ;
}

/* segundo conteudo */
.segundo-content {
    position: absolute;
    display: flex;
}

.segundo-content .primeira-coluna {
    order: 2;
    z-index: -1;
}

.segundo-content .segunda-coluna{
    order: 1;
    z-index: -1;
}

.password{
    color:#34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter{
    text-transform: capitalize;
}

.sign-in-js .primeiro-content .primeira-coluna{
    z-index: -1;
}

.sign-in-js .segundo-content .segunda-coluna{
    z-index: 11;
}

.sign-in-js .segundo-content .primeira-coluna{
    z-index: 13;
}

.sign-in-js .content-login::before{
    left: 60%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.5s;

    z-index: 12;
}

.sign-up-js .content-login::before{
    animation: slideout 1.5s;
    z-index: 12;
}

.sign-up-js .segundo-content .primeira-coluna,
.sign-up-js .segundo-content .segunda-coluna{
    z-index: -1;
}

.sign-up-js .primeiro-content .segunda-coluna{
    z-index: 11;
}

.sign-up-js .primeiro-content .primeira-coluna{
    z-index: 13;
}

/* Deslocamento Conteúdo atrás do content:before */

.sign-in-js .primeiro-content .segunda-coluna{
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s;
    
}

.sign-up-js .segundo-content .segunda-coluna{
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s;
    
}

/* Animação CSS para o Conteúdo */

@keyframes deslocamentoEsq {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5; 
    }

    50% {
        left: -100px;
        opacity: .2;
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes deslocamentoDir {
    from {

        left: 0;
        z-index: 12;

    }

    25% {
        left: 80px;
    }

    50% {

        left: 100px;

    }

    to {

        left: 110px;
        z-index: -1;
    }
}


/* Animação CSS */

@keyframes slidein {
    from{

        left: 0;
        width: 40%;

    }

    25%{
        left: 5%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {

        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {

        left: 60%;
        width: 40%;

    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 5%;
        width: 50%;
    }

    to {

        left: 0;
        width: 40%;
    }
}

