







.d-block{
    height: 375px;
    }
    /* #card{
    display: flex;
    justify-content: space-around;
    } */
   



    #btnfinalizarcadastro {
        margin-top: 40px;
        margin-bottom: 30x;
    }

    #container {
        margin-top: 90px;
      }

      #conteudoNavbarSuportado:hover {
        color: #4f55af;
      }

    
