.d-block{
height: 375px;
}
#card{
display: flex;
justify-content: space-around;
}
#redes-sociais{
display: flex;
}
#search a:hover{
background-color: rgb(255, 255, 255);
color:#4d85fe;
}
#conteudoNavbarSuportado{
font-family: 'Raleway', 'Extra-Light';
font-size: small;
text-shadow: 4px 4px 4px #aaa;
display: flex;
}
#search{
justify-content: space-around;
width: 775px;
}
#nome-site-footer{
font-size: small;
color: black;
}
#sobre-nos{
position:absolute;
bottom:0;
width:100%;
}
#barra-de-pesquisa{
display: contents;
}