<main>
    <div class="container-login">
        <div class="content-login primeiro-content">
            <div class="primeira-coluna">
                <h2 class="title-login title-primario">Login</h2>
            </div>
            <div class="segunda-coluna">
                <h2 class="title-login title-segundario">Bem-vindo</h2>
                <p class="descricao descricao-secundaria">Entre com sua conta</p>

                <form name="formlogin" class="form">

                    <label class="label-input">
                        <i class="far fa-envelope icone-modify"></i>
                        <input class="email" type="email" name="email" placeholder="Email" required>
                    </label>

                    <label class="label-input">
                        <i class="fas fa-user icone-modify"></i>
                        <input id="senha" type="password" name="password" placeholder="Senha" required>
                    </label>

                    <button class="btn2 btn-secundario">Logar</button>
                    <a class="password" href="#">Esqueceu sua senha?</a>
                </form>
            </div> <!--  segunda coluna -->
        </div> <!--  primeiro content -->
    </div>
</main>