<main id="conteudoSobreNos">

    <h1 class="p-5 text-center">
        Somos uma empresa líder,
        atuando há mais de 1 mês
        no mercado de gelo.
    </h1>

    <h2 class="p-5 text-center">
        Mais do que vender gelo, a filosofia da MyIce é oferecer produtos com a máxima qualidade,
        atendendo com eficiência e responsabilidade os eventos e entregas agendadas pelo cliente.
        <!-- Trabalhamos na empresa <strong>Raia Drogasil S/A</strong> e fazemos parte da primeira turma da formação de
        desenvolvedores júnior. Com muita persistência, empenho, noites mal dormidas (ou sem dormir) e lágrimas, fomos
        nos desenvolvendo nesse curso para trilharmos um sonho de seguir na carreira e foi nos dado o desafio de criar
        esse site e colocar tudo o que aprendemos em prática, como o nosso projeto final.
        O site constitui de venda de gelo em suas várias formas e utilidades, também possui o que tem relação com gelo
        para melhor atender o cliente. Após várias daily, discussões e até um pouco de intriga entre nós, foi surgindo o
        site como ele é hoje e continuamente tentamos melhorá-lo no que podemos. 
        Agradecemos sua visita ao nosso site e esperamos que goste! -->
    </h2>

</main>

<br>
<br>
<br>