<!-- logo do site -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #4d85fe;">
    <a class="navbar-brand" href="#"><img src="assets/LOGO3.png" alt="" width="100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu do site -->

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto" id="search">
            <li class="nav-item active">
                <a class="nav-link p-4" routerLink="">INÍCIO<span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link p-4" routerLink="">PRODUTOS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link p-4" routerLink="">FALE CONOSCO</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link p-4" routerLink="/home">SOBRE NÓS</a>
            </li>
        </ul>


        <!-- Espaço de pesquisa -->

        <form id="barra-de-pesquisa" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="pesquisar" type="search" placeholder="Pesquisar"
                aria-label="Pesquisar">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>



        <!-- Login do site -->

        <a class="navbar-brand ml-3" href="#">
            <img src="assets/login.png" width="30" height="30" alt="">
        </a>

        <!-- Carrinho de compras -->

        <a class="navbar-brand ml-3" href="#">
            <img src="/assets/carrinho-de-compras.png" width="30" height="30" alt="">
        </a>

    </div>

</nav>


<!-- //AQUI INICIA O MIOLO DO PÃO// -->


<br>
<br>
<br>

<main>

    <h1 class="p-5 text-center">
        Sobre Nós
    </h1>

    <h2 class="p-5 text-center">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus laborum ipsam quibusdam ipsa nobis est
        reiciendis, non minus voluptate provident similique eveniet perspiciatis, qui dicta, accusantium inventore.
        Nam, unde labore!
    </h2>

</main>

<br>
<br>
<br>

<!-- //AQUI TERMINA O MIOLO DO PÃO// -->

<!-- Nosso nome com Copyright -->

<footer>

    <div class="container-fluid" style="background-color: #4d85fe;">

        <div class="row align-items-center d-flex justify-content-between">

            <a class="col-3 ml-5"><img src="assets/LOGO3.png" class="ml-5" width="100px" alt="logo do site"></a>


            <!-- Atendimento e bandeiras que usamos  -->


            <div class="col-3 mr-5" id="atendimento-footer">
                <h2 class="text-center text-white">Nosso atendimento</h2>
                <p class="text-center text-white">De segunda-feira à sexta-feira das 9h às 17h</p>
                <br>
                <h2 class="text-center text-white">Formas de pagamento</h2>
                <p><img src="assets/formas-de-pagamento.webp" width="300" alt="formas de pagamento"></p>

            </div>

            <!-- Nossa localização -->


            <div class="col-3 mt-2">
                <h4 class="text-center text-white">Nossa localização
                    <img src="assets/maps-site.png" class="mt-2" width="250px" alt=""></h4>
                <p class="text-center text-white">*Rua Minas Gerais, 316 - Higienópolis, São Paulo - SP</p>
            </div>


            <!-- Nossas redes sociais -->

            <div class="col-2 d-flex justify-content-around">

                <a href="http://www.instagram.com/"><img src="assets/instagram-footer.png"
                        alt="Instagram do Site de Gelo" width="30"></a>
                <a href="http://www.facebook.com/"><img src="assets/facebook-footer.png" alt="Facebook do Site de Gelo"
                        width="30"></a>
                <a href="http://twitter.com/"><img src="assets/twitter-footer.png" alt="Twitter do Site de Gelo"
                        width="30"></a>
                <a href="http://www.youtube.com/"><img src="assets/youtube-footer.png" alt="Youtube do Site de Gelo"
                        width="30"></a>

            </div>

        </div>
    </div>