<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
                <a routerLink="/produto-sozinho">
            <img class="d-block w-100" src="assets/cubosdegelo-carousel.jpg"
                alt="cubos de gelo"></a>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/promo-1.PNG" alt="promocao">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/conhecendo-a-fabrica.jpg"
                alt="gelo de coco">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
</div >
