



<!-- Footer -->
<footer class="page-footer font-small lighten-3 pt-4" style="background-color: #4d85fe;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  


                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Formas de Pagamento</h5>
  
                    <ul  class="list-unstyled">
                      <li>
                        <p>
                          <a><img src="assets/formas-de-pagamento.webp" width="300" alt="formas de pagamento"></a>
                        </p>
                      </li>
                    
                    </ul>
                    <br>

                              <!-- Content -->
                            <h5 class="font-weight-bold text-uppercase mb-4">Site Seguro</h5>
                            <div style="padding-left: 0%;" class="">
                                <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                            
                                <p> <img src="assets/google.png" class="ml-5" style="margin-right: 35px;" width="140px" alt="logo do site">
                                    <img src="assets/LOGO3.png" class="ml-5" width="190px" alt="logo do site"></p>
                            </div>

         
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Endereço</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas a-phone mr-6">Rua Minas Gerais, 316 Higienópolis, São Paulo - SP</i></p>
            </li>
            
            <li>
              <p>
                <i class="fas fa-print mr-3"><img src="assets/maps-site.png" class="mt-2" width="250px" alt=""></i></p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Siga-nos</h5>
  
          <!-- Facebook -->
          <a href="http://www.facebook.com/" type="button" class="btn-floating btn-fb">
            <i class="fab fa-google-plus-g"><img src="assets/facebook-footer.png" width="30" class="fab fa-facebook-f"></i>
          </a>
          <!-- Twitter -->
          <a href="http://www.instagram.com/" type="button" class="btn-floating btn-tw">
            <i class="fab fa-google-plus-g"><img src="assets/instagram-footer.png" width="30" class="fab fa-facebook-f"></i>
          </a>
          <!-- Google +-->
          <a href="http://twitter.com/" type="button" class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-g"><img src="assets/twitter-footer.png" alt="Twitter do Site de Gelo"
                width="30"></i>
          </a>
          <!-- Dribbble -->
          <a href="http://www.youtube.com/" type="button" class="btn-floating btn-dribbble">
            <i class="fab fa-dribbble"><img src="assets/youtube-footer.png" alt="Youtube do Site de Gelo"
                width="32"></i>
          </a>
          <br>
          <br>
          <h5 class="font-weight-bold text-uppercase mb-4">Contato</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas a-phone mr-6"></i>Comercial: (11)998148-5619</p>
            </li>
            <li>
              <p>
                <i class="fas a-phone mr-6"></i>SAC: (16)99167-5343</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-8">Horário de atendimento: <br> 09:00 às 19:00 <br> de segunda à sexta-feira</i></p>
            </li>
            <li>
                <p>
                  <i class="fas fa-phone mr-6"></i>Sabado das 09:00 às 13:00 </p>
              </li>
              <li>
                <p >
                  <i class="fas fa-envelope mr-6" ></i> contato@mi.ice.com</p>
              </li>
            

          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" >© 2020 Copyright:
      <a href="https://www.miice.com/" style="color: burlywood;"> Mi Ice</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
