<section class="p-5">
    <div class="row" id="card">
        <div class="card col-lg-3">
            <img src="assets/saco-de-gelo-1kg.png" class="card-img-top" alt="...">
            <div class="card-body text-justify">
                <h5 class="card-title">Saco de Gelo 1kg</h5>
                <p class="card-text">Descrição</p>
                <a href="#" class="card-text stretched-link">
                    <p> <s>de: R$13,00 </s> <br> <b id="preco">por R$10,00</b> <br> ou R$8,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>


        <div class="card col-lg-3">
            <img src="assets/formasdegelo.jpg" class="card-img-top" alt="...">
            <br>
            <br>
            <div class="card-body text-justify">
                <h5 class="card-title">Formas de Gelo</h5>
                <p class="card-text">Descrição</p>
                <a href="#" class="card-text stretched-link">
                    <p> <s>de: R$18,00 </s> <br> <b id="preco">por R$15,00</b> <br> ou R$10,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row" id="card">
        <div class="card col-lg-3">
            <img src="assets/gelodecoco.png" class="card-img-top" alt="...">
            <div class="card-body text-justify">
                <h5 class="card-title">Gelo de Coco</h5>
                <p class="card-text">Descrição</p>
                <a href="#" class="card-text stretched-link">
                    <p> <s>de: R$16,65 </s> <br> <b id="preco">por R$15,00</b> <br> ou R$10,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>


        <div class="card col-lg-3">
            <img src="assets/caixa-de-isopor.png" class="card-img-top" alt="...">
            <br>
            <br>
            <br>
            <div class="card-body text-justify">
                <h5 class="card-title">Caixa de Isopor</h5>
                <p class="card-text">Descrição</p>
                <a href="#" class="card-text stretched-link">
                    <p> <s>de: R$50,00 </s> <br> <b id="preco">por R$24,00</b> <br> ou R$23,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>
    </div>

</section>
