<h1 class="d-flex justify-content-center" style="margin-top: 20px;" ><strong>Produtos mais vendidos</strong></h1>

<section class="p-5">
    
    <div class="row" id="card">
        
        <div class="card col-lg-3">
            <img src="assets/saco-de-gelo-1kg.png" class="card-img-top" alt="...">
            <div class="card-body text-justify">
                <h5 class="card-title text-center">Saco de Gelo 1kg</h5>
                <p class="card-text">Nossos <strong>sacos de gelo</strong> são registrados no Ministério da Saúde sob nº
                    5.7421.0001.001-3.
                    Nosso produto se diferencia por não conter em sua embalagem pedaços quebrados de gelo, mas somente
                    os cubos, o que em termos de aproveitamento se reflete em economia para seu bolso.</p>
                <a routerLink="lista-de-produtos" class="card-text stretched-link">
                    <p> <s>de: R$13,00 </s> <br> <b id="preco">por R$10,00</b> <br> ou R$8,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>


        <div class="card col-lg-3">
            <img src="assets/formasdegelo.jpg" class="card-img-top" alt="...">
            <br>
            <br>
            <div class="card-body text-justify">
                <h5 class="card-title text-center">Formas de Gelo</h5>
                <p class="card-text"><strong>Forma de gelo</strong> em silicone atóxico, próprio para alimentos, livre
                    de BPA. Suporta
                    temperaturas de -50 a 220 C. Flexíveis e antiaderentes.
                    Dimensões 12 x 19,5 x 5 cm. Cada forma faz 6
                    esferas de 4,5 cm de diâmetro.</p>
                <a routerLink="lista-de-produtos" class="card-text stretched-link">
                    <p> <s>de: R$18,00 </s> <br> <b id="preco">por R$15,00</b> <br> ou R$10,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>

        <div class="card col-lg-3">
            <img src="assets/bolsa-termica-compressao.png" class="card-img-top" alt="...">
            <br>
            <br>
            <div class="card-body text-justify">
                <h5 class="card-title text-center">Bolsa térmica para compressa</h5>
                <p class="card-text">Utilizando-se do tratamento frio terapêutico, a <strong>Bolsa térmica para
                        compressa</strong>
                    trata de dores localizadas, no pescoço, na cervical, lombares, nas articulações e dor de cabeça.
                    A <strong>Bolsa térmica para compressa</strong> possui formato anatômico, facilitando sua
                    aplicação, sendo mais confortável e segura.</p>
                <a routerLink="lista-de-produtos" class="card-text stretched-link">
                    <p> <s>de: R$18,00 </s> <br> <b id="preco">por R$15,00</b> <br> ou R$10,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row" id="card">
        <div class="card col-lg-3">
            <img src="assets/gelodecoco.png" class="card-img-top" alt="...">
            <div class="card-body text-justify">
                <h5 class="card-title text-center">Gelo de Coco</h5>
                <p class="card-text">O potássio encontrado no <strong>Gelo de coco</strong> é essencial para a contração
                    muscular, evita câimbras, auxilia na
                    manutenção da pressão arterial, repõe as energias de maneira saudável e proporciona melhor
                    desempenho físico. Além disso, essa embalagem de 500ml é ideal para beber com seu WHISKY e partilhar
                    com os amigos!</p>
                <a routerLink="lista-de-produtos" class="card-text stretched-link">
                    <p> <s>de: R$16,65 </s> <br> <b id="preco">por R$15,00</b> <br> ou R$10,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>

        <div class="card col-lg-3">
            <img src="assets/Olaf.png" class="card-img-top" alt="...">
            <br>
            <br>
            <div class="card-body text-justify">
                <h5 class="card-title text-center">Olaf</h5>
                <p class="card-text"><strong>Olaf</strong> é um personagem fictício que aparece no 53° filme de animação dos estúdios
                    Walt Disney Pictures, Frozen, lançado em 2013. Um dos protagonistas do filme, <strong>Olaf</strong> é um boneco de
                    neve, criado por Elsa, que vive nas montanhas de Arendelle.</p>
                <a routerLink="lista-de-produtos" class="card-text stretched-link">
                    <p> <s>de: R$1.000,00</s> <br> <b id="preco">por R$800,00</b> <br> ou R$500,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>

        <div class="card col-lg-3">
            <img src="assets/caixa-de-isopor.png" class="card-img-top" alt="...">
            <br>
            <br>
            <br>
            <div class="card-body text-justify">
                <h5 class="card-title text-center">Caixa térmica de isopor</h5>
                <p class="card-text">Mantenha a temperatura dos seus produtos por mais tempo com a <strong>caixa térmica
                        de isopor</strong>
                    da marca Isoterm. Com neutralidade biológica e eps de alta densidade, a caixa térmica se torna ideal
                    para transportar e manter os alimentos na temperatura correta por mais tempo, garantindo o
                    acondicionamento e higiene dos mesmos por mais tempo.

                </p>
                <a routerLink="lista-de-produtos" class="card-text stretched-link">
                    <p> <s>de: R$50,00 </s> <br> <b id="preco">por R$24,00</b> <br> ou R$23,00 via Boleto
                        Bancário</p>
                </a>
            </div>
        </div>
    </div>

</section>