<!-- logo do site -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #4d85fe;">
    <a class="navbar-brand" href="#"><img src="assets/LOGO3.png" alt="" width="100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu do site -->

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto" id="search">
            <li class="nav-item active">
                <a class="nav-link p-4" routerLink="">INÍCIO<span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link p-4" routerLink="">PRODUTOS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link p-4" routerLink="">FALE CONOSCO</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link p-4" routerLink="/sobre-nos">SOBRE NÓS</a>
            </li>
        </ul>


        <!-- Espaço de pesquisa -->

        <form id="barra-de-pesquisa" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="pesquisar" type="search" placeholder="Pesquisar"
                aria-label="Pesquisar">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>



        <!-- Login do site -->

        <a class="navbar-brand ml-3" href="#">
            <img src="assets/login.png" width="30" height="30" alt="">
        </a>

        <!-- Carrinho de compras -->

        <a class="navbar-brand ml-3" href="#">
            <img src="/assets/carrinho-de-compras.png" width="30" height="30" alt="">
        </a>

    </div>

</nav>
