#atendimento-footer{
    margin: 0px 0px 0px -117px;
    }
.container-fluid{
    font-family: 'Raleway', 'Extra-Light';
    font-size: small;
    text-shadow: 4px 4px 4px #aaa;
    width: 100%;
    }
.redes-sociais{
    display: flex;
    justify-content: space-around;
    }

    * {
        color: white;
    }

